body {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	margin-top: 10vh;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
}

section article:nth-child(1) {
	order: 2;
}

section article:nth-child(2) {
	order: 1;
}

section article:nth-child(3) {
	order: 3;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: orangered;

	ul {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	li {
		padding: 0 5px;
		list-style: none;
		cursor: pointer;
	}
}

h4 {
	margin: 0;
	padding: 0;
}
