body {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	// margin: 5px 0 0;
}

aside {
	position: absolute;
	top: 10vh;
	left: 5px;

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: orangered;

	ul {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	li {
		padding: 0 5px;
		list-style: none;
		cursor: pointer;
	}
}
